<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412003381077-p5btecoaqds5p385k3bkrpbh1lmnp5gb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412003381077-p5btecoaqds5p385k3bkrpbh1lmnp5gb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>412003381077-fknotkcq4487qqmi2r1oo6lr90inf199.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYoC3FsJhlbdPNMrkun_AOAQ464P1UeH8</string>
	<key>GCM_SENDER_ID</key>
	<string>412003381077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.dec4u.mydec.mobile</string>
	<key>PROJECT_ID</key>
	<string>mydec-9160b</string>
	<key>STORAGE_BUCKET</key>
	<string>mydec-9160b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412003381077:ios:fad62e640089ef781249dc</string>
	<key>DATABASE_URL</key>
	<string>https://mydec-9160b.firebaseio.com</string>
</dict>
</plist>